<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="container">
    <header>
      <h1 class="display-4"><%= title %></h1>
    </header>
    <main>
      <p class="h4">Welcome to <%= login.name %>.</p>
      <form method="post" action="/boards/add">
        <div class="row">
          <div class="col-10">
            <input type="text" name="msg" class="form-control" />
          </div>
          <input type="submit" value="送信" class="btn btn-primary col-2" />
        </div>
      </form>
      <table class="table mt-5">
        <% for (let i in content) { %> <%- include('data_item', {val: content[i]}) %> <% } %>
      </table>
      <ul class="pagenation justify-content-center">
        <li class="page-item">
          <a href="/boards/<%= page - 1 %>" class="page-link">&lt;&lt; prev</a>
          <a href="/boards/<%= page + 1 %>" class="page-link mt-1">next &gt;&gt;</a>
        </li>
      </ul>
    </main>
  </body>
</html>
